/*start color of the page */
.color-1{
    background-color: #fbf7f3;
}
.color-2{
    background-color: #f8f0e9;
}
/*end color of the page */

/* start flex formats */
.d-flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-d-column{
    flex-direction: column;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-between{
    justify-content: space-between;
}
.gap-20{
    gap: 20px;
}
.gap-10{
    gap: 10px;
}
.gap-5{
    gap: 5px;
}

/* start purchase flex system */
.gap-3{
    gap:2%;
}
.box-f-s{
    flex-basis: 23.5%;
}
@media (max-width:992px) {
    .gap-3{
        column-gap:4%;
    }
    .box-f-s{
        flex-basis: 48%;
    }
}
@media (max-width:768px) {
    .gap-3{
        gap: 0;
    }
    .box-f-s{
        flex-basis: 100%;
    }
}
/* end purchase flex system */
/* end flex formats */

/* start grid formats */
.d-grid{
    display: grid;
}
.grid-system{
    grid-template-columns: repeat(auto-fill , minmax(48% , 1fr));
    gap: 2%;
}

.features-g-s{
    grid-template-columns: repeat(auto-fill , minmax(290px , 1fr));
    gap: 15px;
}

.overview-g-s{
    grid-template-columns: repeat(auto-fill , minmax(210px , 1fr));
    gap: 16px;
}
/* end grid formats */

/* start global formats */
.w-full{
    width: 100%;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}
/* margin */

.margin-t-50{
    margin-top: 50px;
}

.margin-b-25{
    margin-bottom: 25px;
}
/* padding */
.padding-t-b{
    padding-top: 70px;
    padding-bottom: 70px;
}

.card-p{
    padding: 30px;
}

/* dispaly */
.d-none{
    display: none;
}

.d-block{
    display: block;
}
/* position */
.p-relative{
    position: relative;
}
.p-absolute{
    position:absolute ;
}
.p-center{
    left: 50%;
    transform: translateX(-50%);
}
/* end global formats */


/* start list and link formats */

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* end list and link formats */

/* start head text */
.head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 50px;
}
.head-text h3{
    margin-bottom: 17px;
    font-size: 35px;
}
@media (max-width:768px) {
    .head-text h3{
        margin-bottom: 15px;
        font-size: 20px;
    }
    .head-text p{
        font-size: 13px;
    }
}
/* end head text */